.blue-rectangle {
    min-width: 100px;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    margin-block: 1rem;
    border: none;
    border-radius: 5%;
    transform: translateX(0);
    transition: transform 0.1s linear;
    user-select: none;
    cursor: grab;
}

.blue-rectangle.grabbing {
    cursor: grabbing;
  }

