<div
  class="container-fluid d-flex justify-content-center align-items-center vw-100 vh-100 bg-body-tertiary"
  (click)="this.isHelpSectionOpen.set(false)"
>
  <div class="card">
    <div class="card-header">
      <h1>Custom Directives - Blue Reactangle</h1>
    </div>
    <div class="card-body">
      <div style="height: 5rem">
        <label for="colorInput" class="form-label">Pick your color below</label>
        <input
          [(ngModel)]="inputColorPicker"
          type="color"
          class="form-control form-control-color"
          id="colorInput"
          name="colorInput"
          #colorInput="ngModel"
          title="Choose your color"
          appValidateColor
        />
        <small
          class="text-danger mt-3"
          *appErrorMessage="colorInput.touched && colorInput.invalid"
          >The color value is not red enough</small
        >
      </div>

      <div class="rectangle" appResize appGetBackgroundColor></div>
    </div>
    <div class="card-footer text-body-secondary">
      <div>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="this.isHelpSectionOpen.set(true); $event.stopPropagation()"
        >
          Help
        </button>

        <section *appShowModalIf="isHelpSectionOpen()">
          <!-- Modal -->

          <div
            class="modal show d-block"
            id="alwaysVisibleModal"
            tabindex="-1"
            (click)="this.isHelpSectionOpen.set(true); $event.stopPropagation()"
          >
            >
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark text-white">
                <div class="modal-header text-center border-0">
                  <h1 class="modal-title fs-4 w-100" id="exampleModalLabel">
                    Help Instructions
                  </h1>
                  <button
                    type="button"
                    class="btn-close m-0"
                    (click)="this.isHelpSectionOpen.set(false)"
                  ></button>
                </div>
                <div class="modal-body text-center">
                  <p>Modify the width of the rectangle by dragging.</p>
                  <p>Change the rectangle's color using the color picker.</p>
                  <p>Save the rectangle's color by double-clicking on it.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

